.organisations-box {
  background: $panel-colour;

  .organisations-box-inner {
    padding: $gutter-half;
  }

  h3 {
    @include ig-core-14;
    border-bottom: 1px solid $border-colour;
  }
  p {
    padding-bottom: $gutter-half;
  }
  ol {
    overflow: hidden;
    margin: 0 (-$gutter-one-third) $gutter-one-third;
    li {
      @include ig-core-16;
      display: block;

      @include media(desktop) {
        width: $one-third;
        float: left;
      }

      &:nth-child(3n+1) {
        clear: left;
      }

      a {
        display: block;
        padding: 0 $gutter-one-third;
      }
    }
  }
}

.organisations-icon-list {
  position: relative;
  z-index: 9;
  @include right-to-left {
    direction: ltr;
  }

  .organisation {
    overflow: hidden;
    list-style: none;
    padding-bottom: $gutter-one-third; // stops descenders being cropped off
  }

  .organisations-box {
    @include media(tablet) {
      position: absolute;
      width: $full-width*2;
      right: 0;
      z-index: 10;
      @include right-to-left {
        right: auto;
        left: 0;
      }
    }

    &.visuallyhidden {
      @include right-to-left {
        left: -9999em;
      }
    }

    ol {
      li {
        @include media(tablet) {
          width: $full-width;
        }
      }
    }
  }
}

.multiple-orgs {
  .organisation {
    position: relative;
    top: 1px;
    margin-left: 7px;
    padding-bottom: 6px;
  }
}

.organisation-logo {
  font-family: Helvetica, Arial;
  font-weight: 400;
  display: block;
  position: relative;
  background-repeat: no-repeat;
  font-size: 13px;
  line-height: $gutter-half;
  padding: 3px 0 2px 0;
  text-decoration: none;

  &:link,
  &:visited {
    color: $black;
  }

  a, span {
    color: $black;
  }

  @include right-to-left {
    direction: ltr;
  }
}
a.organisation-logo {
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.organisation-logo-stacked-no-identity {
}
.organisation-logo-identity {
  border-left: 2px solid;
}

img.organisation-logo-custom {
  max-width: 90%;
  width: auto;
}

@include organisation-brand-colour(".organisation-logo", border-color);

// MOD
.organisation-logo-mod {
  @extend .organisation-logo-identity;

  padding: 5px 0 5px 30px;
  background-image: image-url("crests/mod_crest_13px.png");
  background-position: 5px center;
  background-size: auto 25px;
}
.organisation-logo-stacked-mod {
  @extend .organisation-logo-identity;

  padding: 25px 0 0 6px;
  background-image: image-url("crests/mod_crest_13px.png");
  background-position: 5px top;
  background-size: auto 25px;
}
.organisation-logo-stacked-mod span {
  display: block;
  position: relative;
  top: 3px;
}
@media all and (-webkit-min-device-pixel-ratio: 2) {
  .organisation-logo-mod,
  .organisation-logo-stacked-mod {
    background-image: image-url("crests/mod_crest_13px_x2.png");
  }
}
